* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
  }
  
  body {
    font-size: 14px;
  }

  .containerDiv {
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .cssOnlyButton {
      height: 30px;
      border: 1px solid;
      box-sizing: border-box;
      text-align: center;
      vertical-align: middle;
      background-color: #ffa500;
      padding: 0 10px 0 10px;
  }